@media (prefers-reduced-motion: no-preference) { 
    :root {
    scroll-behavior: smooth;
}}  
html {
    width:100vw;
    position: static;
    overflow-x:hidden;
    min-height: 100%;
    
  } 
  body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color: rgb(172, 255, 63);
    font-weight: bold;
    font-size: 1.3em;
    /*background: linear-gradient(to right, #a2eea0, #535556);*/
    overflow-x:hidden;
}

footer{
    height: 0;
    display: none;
}

.bayan{
    max-width: 40vw;
    margin: 0 auto;
}

.bayan:hover{
    max-width: 40vw;
    margin: auto auto;
    color: rgb(255, 255, 255);
    transition: .3s; 
}

.bayan:hover .close {
    opacity: 1;
    transform: scale(1.0);
    visibility: visible;
    transform: rotate(45deg);
    transition: .3s; 
}
.bayan-name{
    color: black;
}
.bayan-item{
    position: static;
    cursor: pointer;
}

.bayan-label1:hover #title1{
    position: static;
    cursor: pointer;
    padding: 10px 15px;
background-color: #5fe25fb7;
transition: .42s;
}

.bayan-label2:hover #title2{
    position: static;
    cursor: pointer;
    padding: 10px 15px;
background-color: #5fe25fb7;
transition: .42s;
}

.bayan-label3:hover #title3{
    position: static;
    cursor: pointer;
    padding: 10px 15px;
background-color:#5fe25fb7;
transition: .42s;
}

.bayan-label4:hover #title4{
    position: static;
    cursor: pointer;
    padding: 10px 15px;
background-color: #5fe25fb7;
transition: .42s;
}
.bayan-title{
    display: flex;
    justify-content: space-between;
    position: static;
    background-color: #4b4b4bbe;
    cursor: pointer;
    padding: 10px 15px;
    transition: .42s; 
}

.close{
    display: block;
    visibility: hidden;
    position: static;
    opacity: 0;
    transform: scale(0);
    width: 1rem;
    height: 1rem;
    transform: rotate(45deg);
    transition: .82s;
    background-image: url("./assets/svg/close_32-32.svg");
    
}
/*.close:after{
    display: block;
   position: relative;
    width: 1rem;
    height: 1rem;
   transform: rotate(0deg);
   background-image: url("./assets/svg/close_32-32.svg");
   
   
}*/
/*.bayan-title:hover{
    position: static;
    cursor: pointer;
    padding: 10px 15px;
background-color: #5fe25fb7;
transition: .42s;
}*/

.bayan-input{
    display: block;
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
}

.bayan-input:checked ~ * .close {
    display: block;
   position: static;
   opacity: 1;
    transform: scale(1.0);
    visibility: visible;
    width: 1rem;
    height: 1rem;
   transform: rotate(0deg);
   background-image: url("./assets/svg/close_32-32.svg");
   transition: 0.43s;
}

.bayan-input:checked ~ .bayan-title {
    position: static;
    cursor: pointer;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
background-color: #5fe25fb7;
transition: .42s;
}

.bayan-input:hover ~ * .close {
    display: block;
   position: static;
   opacity: 1;
    transform: scale(1.0);
    visibility: visible;
    width: 1rem;
    height: 1rem;
   transform: rotate(0deg);
   background-image: url("./assets/svg/close_32-32.svg");
   transition: 0.43s;
}
.bayan-input:checked ~ .bayan-1-text {
    opacity: 1;
    transform: scale(1.0);
    visibility: visible;
    height: 100%;
    transition: 1.00s;
    border: 1px solid #9c9c9c67;
    color: rgb(116, 204, 0);
    font-size: 16px;
}

.bayan-input:hover ~ .bayan-1-text {
    opacity: 1;
    transform: scale(1.0);
    visibility: visible;
    height: 100%;
    transition: 1.00s;
    border: 1px solid #9c9c9c67;
    color: rgb(116, 204, 0);
    font-size: 16px;
}
/*.bayan-input:checked ~ .close::after{
    display: block;
   position: static;
    width: 1rem;
    height: 1rem;
   transform: rotate(0deg);
   background-image: url("./assets/svg/close_32-32.svg");
}*/
.bayan-1-text{
    visibility:hidden;
    opacity: 0;
    transition: 0.43s;
    height: 0;
    border: 1px solid #9c9c9c67;
    color: rgb(116, 204, 0);
    background-color: white;
    transform: scale(0.5);
    text-align: center;
    overflow: hidden;
}

.difficult-tasks{
    /*max-width: 100%;*/
    margin: auto auto;
    position: static;
    transition: .4s;
    
}

.recursion-in-action{
   /* max-width: 100%;*/
    margin: auto auto;
    position: static;
    transition: .4s;
}

.reverse-array{
   /* max-width: 100%;*/
    margin: auto auto;
    position: static;
    transition: .4s;
}

.stack-does-not-work{
    /*max-width: 100%;*/
    margin: auto auto;
    position: static;
    transition: .4s;
}
@media screen and (min-width: 1920px) {
    @media (prefers-reduced-motion: no-preference) { 
        :root {
        scroll-behavior: smooth;
    }}  
    html {
        width:100vw;
        margin: 0 auto;
        position: static;
        padding: 0;
        top: 0; left: 0; bottom: 0; right: 0;
        min-height: 100%;
        overflow-x:hidden;
      } 
    body{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        color: rgb(172, 255, 63);
        font-weight: bold;
        font-size: 2.6em;
        /*background: linear-gradient(to right, #a2eea0, #535556);*/
        overflow-x:hidden;
    }

    .bayan{
        max-width: 70vw;
        margin: 0 auto;
    }
    .bayan:hover{
        max-width: 70vw;
        margin: 0 auto;
    }
    
    .bayan-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
        background-color: #4b4b4bbe;
        cursor: pointer;
        padding: 10px 15px;
        transition: .42s; 
    }
    
    .close{
        display: block;
        visibility: hidden;
        position: static;
        opacity: 0;
        transform: scale(0);
        width: 1.5rem;
        height: 1.5rem;
        transform: rotate(45deg);
        transition: .82s;
        background-image: url("./assets/svg/close_32-32.svg");
        
    }
    .bayan-input:checked ~ .bayan-1-text {
        opacity: 1;
        transform: scale(1.0);
        visibility: visible;
        height: 100%;
        transition: 1.00s;
        border: 1px solid #9c9c9c67;
        color: rgb(116, 204, 0);
    }
    .bayan-input:checked ~ * .close {
        display: block;
       position: static;
       opacity: 1;
        transform: scale(1.0);
        visibility: visible;
        width: 1.5rem;
        height: 1.5rem;
       transform: rotate(0deg);
       background-image: url("./assets/svg/close_32-32.svg");
       transition: 0.43s;
    }
}
@media screen and (max-width: 820px) {
    @media (prefers-reduced-motion: no-preference) { 
        :root {
        scroll-behavior: smooth;
    }}  
    html {
        width:100vw;
        margin: 0 auto;
        position: static;
        padding: 0;
        top: 0; left: 0; bottom: 0; right: 0;
        min-height: 100%;
        overflow-x:hidden;
      } 
    body{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        color: rgb(172, 255, 63);
        font-weight: bold;
        font-size: 0.9em;
        /*background: linear-gradient(to right, #a2eea0, #535556);*/
        overflow-x:hidden;
    }
    .bayan{
        max-width: 70vw;
        margin: 0 auto;
    }
    .bayan:hover{
        max-width: 70vw;
        margin: 0 auto;
    }
    .close{
        display: block;
        visibility: visible;
        position: static;
        opacity: 1;
        transform: scale(1);
        width: 1rem;
        height: 1rem;
        transform: rotate(45deg);
        transition: .82s;
        background-image: url("./assets/svg/close_32-32.svg");
        
    }

}

@media screen and (max-width: 460px) {
    @media (prefers-reduced-motion: no-preference) { 
        :root {
        scroll-behavior: smooth;
    }}  
    html {
        width:100vw;
        margin: 0 auto;
        position: static;
        padding: 0;
        top: 0; left: 0; bottom: 0; right: 0;
        min-height: 100%;
        overflow-x:hidden;
      } 
    body{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        color: rgb(172, 255, 63);
        font-weight: bold;
        font-size: 0.6em;
        /*background: linear-gradient(to right, #a2eea0, #535556);*/
        overflow-x:hidden;
    }

    .bayan{
        max-width: 70vw;
        margin: 0 auto;
    }
    .bayan:hover{
        max-width: 70vw;
        margin: 0 auto;
    }
    .bayan-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: static;
        background-color: #4b4b4bbe;
        cursor: pointer;
        padding: 10px 15px;
        transition: .42s; 
    }
    
    .close{
        display: block;
        visibility: visible;
        position: static;
        opacity: 1;
        transform: scale(1);
        width: 1rem;
        height: 1rem;
        transform: rotate(45deg);
        transition: .82s;
        background-image: url("./assets/svg/close_32-32.svg");
        
    }
    .bayan-input:checked ~ .bayan-1-text {
        opacity: 1;
        transform: scale(1.0);
        visibility: visible;
        height: 100%;
        transition: 1.00s;
        border: 1px solid #9c9c9c67;
        color: rgb(116, 204, 0);
    }
}